{% extends 'base.html' %}

{% block title %}
    OLA
{% endblock %}

{% block content %}
    {% for i in s %}
        <h1>{{ i.user }}</h1>
        <h1>{{ i.text }}</h1>
        <h1>{{ i.date }}</h1>
    {% endfor %}
    <form action="/send/" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Chat</button>
    </form>

    {% for i in chat %}

        <p>
            <mark>{{ i.user }} :</mark> {{ i.text }} ||| {{ i.date.time }}
        </p>
    {% endfor %}
    {% for с in chat %}
        <form action="subscribe/{{ c.user.id }}/" method="post">
            {% csrf_token %}
            <input type="submit" value="Sub">
        </form>
    {% endfor %}
{% endblock %}